div.row{
    justify-content: space-around;
}
div.container {
    background-color: grey;
    color: black;
    font-weight: bold;
    width: 32%;
    height: 300px;
    border: 2px solid black;
    margin: auto auto ;
    display: inline-block;

}
h1 {
    padding: 10px;
    margin: auto;
    text-align: center;
}
h3 {
    text-align: right;
    border: 2px solid black;
    position: relative;
}

@media(min-width=992px) {
    div.container {
        width: 33.33%;
        height: 250px;
    }
}

@media(min-width=768px) and (max-width=991px) {
    div.container {
        width: 50%;
    }
}

@media(max-width=767px) {
    div.container {
        width: 100%;
    }
}